<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Busca Lá - Bela Vista</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Avisos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Condôminos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reclamações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reuniões</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Salão de Festas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>